/*general*/
:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    width: 375px;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/*general*/

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 20px 40px 20px;
}

.header-logo img {
    height: 45px;
    width: 100px;
}

.header-item {
    color: #0065fc;
    font-weight: bold;
}

.header-item:hover {
    transform: scale(1.2);
}

.header-nav-ul {    
    display: flex;
}

.header-nav-ul a {
    width: 100%;
    text-align: center;
}

.header-items.active {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
}

.header-items-activity {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
}

.header-items-activity:hover{
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
}
/*header*/

/*main*/

    /*section-menu*/
.menu {
    margin: 30px 20px;
}

.title h1 {
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 700;
}

.title p {
    margin-bottom: 40px;
    font-size: 16;
}

    /*search-bar*/
.search-bar {
    position: relative;
    height: 46px;
    width: 300px;
    border: 1px solid #f2f2f2;
    margin: 20px 0 10px 10px
}

.search-bar input {
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    padding: 10px 0px 10px 20px;
    border: none;
    margin-bottom: 15px;
    margin-left: 40px;
}

.search-bar ::placeholder {
    color: black;
    font-weight: 700;
}

.search-bar .icon {
    float: left;
    position: absolute;
    padding: 16px 14px 14px 17px;
    background-color: #f2f2f2;
    border: none;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-left: -10px;
    margin-top: -1px;
}

.search-bar button {
    float: right;
    position: absolute;
    padding: 13px 15px 13px 14px;
    margin-top: -1px;
    background: #0065fc;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 25%;
}
    /*search-bar*/

    /*filter*/
.filter {
    margin-top: 40px;
    font-size: 17px;
}

.filter p {
    font-weight: bold;
    margin-bottom: 20px;
}

.filter .filter-menu {
    width: 355px;
}

.filter .filter-menu .filter-items {
    position: relative;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    vertical-align: middle;
}

.filter .filter-menu .filter-items .icon {
    color: #0065fc;
    background-color: #deebff;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    font-size: 1.2em;
    margin-right: 15px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.filter .filter-menu .filter-items.eco {
    width: 175px;
    margin: 0 0 15px -0;
}

.filter-text {
    align-items: center;
}

.filter .filter-menu .filter-items.famille {
    width: 135px;
    float:  right;
    margin-top: -66px;
    margin-right: 20px;
}

.filter .filter-menu .filter-items.romantique {
    width: 170px;
}

.filter .filter-menu .filter-items.animal {
    width: 220px;
}

.filter .filter-menu .filter-text {
    margin-left: -10px;
}
    /*filter*/

    /*info*/
.info {
    margin-top: 30px;
}

.filter .filter-menu .filter-text:hover {
    color:#0065fc;
}

.info-icon {
    float: left;
    color:#0065fc;
    border: 1px solid #deebff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
    padding-top: 3px;
    margin-right: 10px;
}
    /*info*/

/*section-menu*/

/*section-popular*/
.popular {
    background-color: #f2f2f2;
    height: 600px;
}

.popular h2 {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
    padding-top: 40px;
}

.popular-card {
    display: flex;
    background-color: white;
    height: 150px;
    margin: 15px 15px 10px 20px;
    font-size: 0.8em;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popular-photo{
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 5px 170px 5px 5px;
}

.popular-card-info {
    position: relative;
    background-color: white;
    width: 195px;
    margin-left: -185px;
    height: 145px;
    padding-top: 15px;
    padding-left: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.popular-card-info h3 {
    padding-right: 10px;
}


.popular-card-info p {
    margin-top: 10px;
}

.popular-card-info i {
    color: #0065fc;
    padding-top: 35px;
    font-size: 0.9em;
    letter-spacing: -2px;
}
/*section-popular*/
    
/*section-hostel*/
.hostel h2{
    margin: 25px 20px;
    padding-top: 20px;
}

.hostel-card {
    width: 335px;
    height: 200px;
    margin: 15px 15px 10px 20px;
    font-size: 0.8em;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hostel-photo {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px 5px 5px 5px;
}

.hostel-card-info {
    position: relative;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 5px 5px 10px 20px;
    border-radius: 20px;
}

.hostel-card-info p {
    margin-top: 5px;
}

.hostel-card-info i {
    color: #0065fc;
    margin-top: 10px;
    font-size: 0.9em;
    letter-spacing: -2px;
}

.more {
    width: 100%;
    font-weight: bold;
    margin: 35px 20px;
    font-size: 1.2em;
}

.more:hover {
    color: #0065fc;
}

/*section-hostel*/

/*section-activity*/
.activity {
    margin: 20px;
}

.activity h2 {
    margin: 30px 0;
    margin-top:50px;
}

.activity-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activity-card p{
    width: 100%;
    height: 55px;
    position: relative; 
    top: -50px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 700;
    vertical-align: middle;
    padding: 15px 15px;
}
/*section-hostel*/

/*main*/

/*footer*/
footer {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 30px;
}

footer h3 {
    margin-bottom: 20px;
    margin-top:  45px;
}

footer li {
    line-height: 2em;
}

footer li:hover {
    color: #0065fc;
}
/*footer*/

/*media queries*/
 
@media all and (min-width: 760px) {
    /*general*/
    body {
        width: auto;
    }
    /*general*/

    /*filter*/
    .filter .filter-menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .filter .filter-menu .filter-items {
        margin-right: 5px;
    }

    .filter .filter-menu .filter-items.famille{
        margin: auto;
        margin-right: 5px;
        margin-left: 5px;
    }
    /*filter*/

    /*section-popular*/
    .popular {
        float: right;
        width: 350px;
        margin-top: 90px;
        margin-right: 20px;
        border-radius: 25px;
    }

    .popular h2 {
        margin-top: 0px;
    }

    /*section-popular*/

    /*section-hostel*/
    .hostel {
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        max-width: 580px;
    }

    .hostel h2 {
        margin-top: 0;
    }

    .hostel-card{
        width: 250px;
        height: 200px;
    }

    /*section-hostel*/

    /*section-activity*/
    .activity h2 {
        margin-left: 20px;
    }

    .container-activity {
        display: flex;
        flex-wrap: wrap;
    }

    .activity-card{
        width: 250px;
        height: 300px;
        margin: 15px;
    }
    /*section-activity*/

    /*footer*/
    .footer {
        display: flex;
        justify-content: space-around;
    }
    /*footer*/
}

@media all and (min-width: 1080px) { 

    /*general*/
    body {
        margin: 50px;
        max-width: 1350px;
    }

    #main {
        max-width: 1350px;
    }
    /*general*/

    /*header*/


    .header-item {
        margin-right: 25px;;
    }

    .header-nav-ul {
        position: absolute;
        top: 0%;
        right: 15%;
        height: 100px;
        width: 30%;
    }

    .header-items.active {
        border-bottom: none;
        border-top: 3px solid #0065fc;
        padding-top: 62px;
    }
    
    .header-items-activity {
        border-bottom: none;
        padding-top: 65px;
    }

    .header-items-activity:hover {
        border-bottom: none;
    }
    /*header*/

    /*section-menu*/
    .filter {
        display: flex;
        width: 950px;
    } 

    .filter p {
        margin: 15px;
    }

    .filter .filter-items.romantique {
        margin-right: 0px;
    }
    /*section-menu*/

    /*aside-popular*/
    .popular {
        margin-top: 0;
        margin-left: 40px;
        height: 618px;
    }

    .popular-card {
        margin: 25px;
    }

    /*aside-popular*/

    /*section-hostel*/
    .hostel {
        background-color: #f2f2f2;
        border-radius: 25px;
        max-width: 880px;
        margin-right: 40px;
        margin-left: 20px;
    }

    .hostel h2 {
        width: 100%;
        text-align: left;
        margin-left: 40px;
        margin-top: 20px;
    }

    .hostel-card {
        background-color: white;
    }

    .hostel-card-info {
        background-color: white;
        text-align: left;
    }

    .more {
        width: 100%;
        text-align: left;
        margin: 25px;
    }

    .more a {
        margin-left: 20px;
    }


    /*section-hostel*/

    /*Section-activity*/

    .container-activity {
    }

    .activity-image {

    }

    .activity-image.vieux-port {
        height: 445px;
        width: 300px;
    }
    /*Section-activity*/


    /*footer*/
    footer {
        position: absolute;
        left: 0;
        text-align: left;
    }
    /*footer*/
}

@media all and (max-width: 1385px) {

    /*section-hostel*/
    .hostel h2 {
        text-align: center;
    }

    .more {
        text-align: center;
    }
    /*section-hostel*/
}


/*media queries*/
