/*general*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 50px 50px 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}
/*general*/

/*header*/
header {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    height: 30px;
    width: 95px;
    margin-top: 50px;
}

.header-nav-ul {
    display: flex;
    justify-content: space-around;
    width: 380px;
}

.header-items {
    padding-top: 50px;
}

.header-items:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 48px;
}

.header-items.active {
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 48px;
}

.header-items.blue {
    color: #0065fc;
    font-weight: bold;
}
/*header*/